<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BetterTabControl" version="1.0.19295.1523" targetFramework="net48" />
  <package id="CRM.CustomControlsFramework" version="1.4.630" targetFramework="net48" />
  <package id="CRM.CustomControlsSolution" version="1.2.121002-master" targetFramework="net48" />
  <package id="CustomControls.RJControls" version="1.0.0" targetFramework="net48" />
  <package id="CustomControlsEren" version="1.0.0" targetFramework="net48" />
  <package id="DaHan.CustomControls" version="1.0.0" targetFramework="net48" />
  <package id="Joreikarr.CustomControls" version="1.0.0" targetFramework="net48" />
  <package id="ListBoxTabs" version="1.0.0.0" targetFramework="net48" />
  <package id="MoellonToolkit" version="0.5.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="PagedControl" version="2.2.0" targetFramework="net48" />
  <package id="PanelManager" version="1.0.0" targetFramework="net48" />
  <package id="RJCodeAdvance.RJControls" version="1.0.0" targetFramework="net48" />
  <package id="SegmentedTabControl.FormsPlugin" version="1.0.0" targetFramework="net48" />
  <package id="SpydazWeb.Basic.Extensions" version="1.0.0" targetFramework="net48" />
  <package id="SpydazWebAI.USerControls" version="1.0.0" targetFramework="net48" />
  <package id="TabControl" version="2.1.2" targetFramework="net48" />
  <package id="TradeWright.TabControlExtra" version="2.0.1" targetFramework="net48" />
  <package id="WinTabControls" version="1.6.0" targetFramework="net48" />
  <package id="XFCustomControls" version="1.0.0" targetFramework="net48" />
  <package id="Xamarin.Forms" version="2.3.4.247" targetFramework="net48" />
  <package id="bolt5.CustomControls.Wpf" version="1.0.0" targetFramework="net48" />
</packages>